* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../assets/cena2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Fredoka One', cursive;
}

h1, p {
    width: 100%;
    text-align: center;
  

}
h2{
    color: rgb(148, 59, 27);
    text-align: center;
    box-sizing: border-box;
}
.armas{
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    position: relative;
    width: 940px;
    margin: 0 auto;
    width: 50%;
}   
.botao-choice{
  
  text-align: center;
  font-size: 18px;
  width: 30%;
  background-color: #e4ee54cb;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  padding: 10px;
  
    
}
.choices{
    max-width: 45%;
    position: relative;
    width: 940px;
    margin: 0 auto;
    align-content: space-between;
    text-align: center;  
   margin-top: 50px;
   margin: 0 3.5%;
   padding: 20px 30px;
   display: flex;
 
}
@media screen and (max-width: 480px) {
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }
}